.canvas-component {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 15px;
}

.circles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 380px;
  margin-top: 25px;
}

.projects-container {
  flex: 0 0 37%;
}
.canvas-container {
  flex: 0 0 55%;
}
.project {
  display: flex;
  margin-left: 5px;
  align-items: baseline;
  justify-content: space-between;
  padding: 6px 15px;
  border: 1px solid #f1c3dc;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #f500a4;
  cursor: pointer;
  transition: 0.3s;
}
.project:hover {
  background: #f500a4;
  color: white;
  transition: 0.3s;
  transform: scale(1.06);
}
.project:hover .remove-project {
  color: white;
}
.project p {
  margin: 0;
}

.remove-project {
  color: #c80061;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.circles-container.container-100 {
  width: 250px;
}

.circles-container.container-225 {
  width: 375px;
}

.container-400 {
  width: 500px;
}

.picker-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  margin-left: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.picker-inner {
  display: flex;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 30px;
}

.picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 30px;
  opacity: 0;
}
.error {
  color: rgb(169, 23, 23);
  position: absolute;
  left: 11px;
}

.save-project {
  display: flex;
  align-items: flex-start;
}
.save-project .input-container {
  position: relative;
}
.save-project .input-container input {
  width: 100%;
  max-width: 153px;
  display: block;
  padding: 10px 20px;
  border-radius: 30px;
  outline: none;
  border: 2px solid hotpink;
  margin-left: 10px;
  color: #f500a4;
  font-size: 15px;
}
.save-project .input-container input::placeholder {
  color: hotpink;
}
.size-selector {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid hotpink;
  outline: none;
  color: #f50198;
  font-size: 15px;
  cursor: pointer;
}
.color-selection-panel {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.title-h1 {
  margin: 0 0 20px;
  font-family: cursive;
  color: #e900f2;
}

/* .wrap-row {
  flex-basis: 100%;
} */